<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <title>Bookstore Administration Page</title>
</head>
<body>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="images/logo.png" alt="Logo" height="35" width="35" class="d-inline-block align-text-top">
            Bookstore
        </a>
        <div class="d-flex">
            <strong class="align-self-center" sec:authorize="isAuthenticated()" sec:authentication="name"> Bob </strong>&nbsp;
            <a sec:authorize="!isAuthenticated()" th:href = "@{/login}" class = "btn btn-light"> Login </a>
            <a sec:authorize="isAuthenticated()" th:href = "@{/logout}" class = "btn btn-light"> Logout </a>
            <a th:href = "@{/register}" class = "btn btn-light"> Register </a>
        </div>
    </div>
</nav>
<div class ="container">
    <div class = "row">
        <h1> Bookstore Administration Page </h1>
    </div>
    <form th:action="@{/adminPage}" class="input-group mb-3">
        <input type="text" class="form-control" name="keyword" id="keyword" size="50" th:value="${keyword}" aria-describedby="button-addon2">
        <button class="btn btn-outline-info" type="submit" id="button-addon2"><span class="bi-search"></span>Search</button>
    </form>

    <br>
    <table class = "table table-striped table-bordered">
        <thead class = "table-info">
        <a th:href = "@{/adminPage/addNewBookListing}" class = "btn btn-info">Add new book listing</a>
        <tr>
            <th> ID </th>
            <th> Title </th>
            <th> Author </th>
            <th> Publisher </th>
            <th> Price </th>
            <th> Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "book: ${books}">
            <td th:text = "${book.bookId}"></td>
            <td th:text = "${book.title}"></td>
            <td th:text = "${book.author}"></td>
            <td th:text = "${book.publisher}"></td>
            <td th:text = "${book.price}"></td>
            <td>
                <a th:href = "@{/adminPage/editBookListing/{id}(id = ${book.bookId})}" class = "btn btn-warning">Edit</a>
                <a th:href = "@{/adminPage/delete/{id}(id = ${book.bookId})}" class = "btn btn-danger">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br>

    <table class = "table table-striped table-bordered">
        <thead class = "table-info">
        <tr>
            <th> ID </th>
            <th> User Email </th>
            <th> Order Contents </th>
            <th> Total Price </th>
            <th> Delivery Address </th>
            <th> Payment Method</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "order: ${orders}">
            <td th:text = "${order.orderId}"></td>
            <td th:text = "${order.userEmail}"></td>
            <td>

                <table class = "table table-striped table-bordered">
                    <thead class = "table-info">
                    <tr>
                        <th> ID </th>
                        <th> Title </th>
                        <th> Author </th>
                        <th> Publisher </th>
                        <th> Price </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each = "book: ${order.orderContents}">
                        <td th:text = "${book.bookId}"></td>
                        <td th:text = "${book.title}"></td>
                        <td th:text = "${book.author}"></td>
                        <td th:text = "${book.publisher}"></td>
                        <td th:text = "${book.price}"></td>
                    </tr>
                    </tbody>
                </table>

            </td>
            <td th:text = "${order.totalPrice}"></td>
            <td th:text = "${order.deliveryAddress}"></td>
            <td th:text = "${order.paymentMethod}"></td>
        </tr>
        </tbody>
    </table>




</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>
</html>